@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>DHXScheduler initialization sample</title>
    <style>
        body
        {
            background-color:#eee;
        }
    </style>
</head>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body>
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <a href="/Farmeri/Index/" class="btn btn-info btn-sm">Farmeri</a>
</body>
</html>
